mixin education(education)
        .education
            .education__label #{education.label}
            .education__period #{education.period}
            .education__position #{education.position}
            .education__description #{education.description}