mixin education(education)
        .education
            .education__degree #{education.degree}
            .education__period #{education.period}
            .education__university-name #{education.universityName}
            .education__description #{education.description}