@import "../../global/colors.styl"

.progress-bar
    &__label
        text-transform: uppercase
        text-align: left
        font-size: 1.56rem
        margin-bottom: 0.5rem

    &__progress, &__range
        height: 1rem
        margin-bottom: 1rem

    &__progress
        background-color: $colorGray
        width: 100%

    &__range
        background-color: $colorBlue
