include ../avatar/avatar.pug

mixin info-header({avatar = '', alt = '', name, surname, specialization})
    .info-header
        .info-header__avatar 
            +avatar({img: avatar, alt: alt})
        .info-header__name
            | #{name}
        .info-header__surname
            | #{surname}
        .info-header__specialization
            | #{specialization}