.info-header
    &__name,
    &__surname,
    &__specialization
        text-transform: uppercase
        text-align: center
        line-height: 1

    &__surname,
    &__specialization
        font-weight: bold

    &__specialization
        font-size: 0.5rem
        
    &__avatar,
    &__specialization
        line-height: 1.5