include ../avatar/avatar.pug

mixin info-header(name, surname, specialization)
    .info-header
        .info-header__avatar 
            +avatar({})
        .info-header__name
            | #{name}
        .info-header__surname
            | #{surname}
        .info-header__specialization
            | #{specialization}