include ../info/info.pug
include ../progress-bar/progress-bar.pug

mixin info-software(title, softs, maxPoint = 100)
    mixin software(softs)
        .info-software
            each softPoint, label in softs
                .info-software__soft
                    +progress-bar(label, softPoint, maxPoint)
    - 
        var content = 'software';
        var icon = 'software.png';
        var alt = 'my softwares';
    +info({
        img: icon, 
        alt: alt, 
        title: title, 
        contentFunc: content, 
        data: softs
    })
