.info-software
    display: flex
    flex-wrap: wrap
    justify-content: space-between

    &__soft
        width: 45%
        margin-bottom: 1rem

        @media (max-width: 480px)
            width: 100%
