@font-face
    font-family: 'MyriadPro';
    src:    url('fonts/MyriadPro-Regular/MyriadPro-Regular.ttf') format('truetype'),
            url('fonts/MyriadPro-Regular/MyriadPro-Regular.woff') format('woff'),
            url('fonts/MyriadPro-Regular/MyriadPro-Regular.svg') format('svg')
    font-weight: 400
    font-style: normal