@font-face
    font-family: 'MyriadPro';
    src:    url('fonts/MyriadPro-LightSemiExt/MyriadPro-LightSemiExt.ttf') format('truetype'),
            url('fonts/MyriadPro-LightSemiExt/MyriadPro-LightSemiExt.woff') format('woff'),
            url('fonts/MyriadPro-LightSemiExt/MyriadPro-LightSemiExt.svg') format('svg')
    font-weight: 300
    font-style: normal

@font-face
    font-family: 'MyriadPro';
    src:    url('fonts/MyriadPro-Regular/MyriadPro-Regular.ttf') format('truetype'),
            url('fonts/MyriadPro-Regular/MyriadPro-Regular.woff') format('woff'),
            url('fonts/MyriadPro-Regular/MyriadPro-Regular.svg') format('svg')
    font-weight: 400
    font-style: normal

@font-face
    font-family: 'MyriadPro';
    src:    url('fonts/MyriadPro-Bold/MyriadPro-Bold.ttf') format('truetype'),
            url('fonts/MyriadPro-Bold/MyriadPro-Bold.woff') format('woff'),
            url('fonts/MyriadPro-Bold/MyriadPro-Bold.svg') format('svg')
    font-weight: 700
    font-style: normal