@import "../../global/colors.styl"

.dot-progress-bar
    &__title
        text-transform: uppercase
        text-align: center

    &__dot, &__dot_filled
        height: 0.5rem
        width: 0.5rem
        background-color: $colorGray
        border-radius: 50%
        align-items: center
        display: inline-block

    &__dot_filled
        background-color: $colorBlue