include ../avatar/avatar.pug

mixin title({img, alt, label})
    .title
        .title__avatar
            +avatar({
                img: img, alt: alt
            })
        h2.title__label #{label}
