$colorBlue = blue

.title
    display: flex
    align-items: center

    &:after
        flex: 1
        content: ""
        height: 0.3rem
        margin-bottom: 0.1rem
        background-color: $colorBlue

    &__label
        text-transform: uppercase
        padding: 0.3rem
        color: $colorBlue