@import "../../components/info/info.styl"
@import "../../components/info-experience/info-experience.styl"
@import "../../components/info-education/info-education.styl"
@import "../../components/avatar/avatar.styl"

/**********/

.flex-container
    display: flex
    flex-direction: column
    flex-wrap: wrap
    justify-content: space-between
    height: 100px
    width: 400px