extends ../base

include ../../components/info-about-me/info-about-me.pug

block title
    | Resume page
block main
    .flex-container
        - var text = "обычный текст <strong>test strong</strong>";
        - var title = "Profile";
        +info-about-me(title, text)