extends ../base

mixin ulnums (nums)
    - var i = 0;
    ul
        while i < nums
            li= i++

block title
    | Resume page
block main
    h1.test test stray228
    div.test-dota2
    +ulnums(3)