.marked-list
    list-style: none
    position: relative

    &__item
        margin-bottom: 1.5rem

    &__item::before
        font-size: 4rem
        content: ""
        width: 1.5rem
        height: 1.5rem
        border-radius: 50%
        background-color: black
        position: absolute
        left: 0
        margin-top: 5px

    @media (max-width: 360px)
        &
            padding: 0
            
        &__item::before
            display: none
