.marked-list
    list-style: none
    position: relative

    &__item
        margin-bottom: 1.5rem

    &__item:last-child
        margin-bottom: 0rem

    &__item::before
        font-size: 1.56rem
        content: ""
        width: 1.3rem
        height: 1.3rem
        border-radius: 50%
        background-color: black
        position: absolute
        left: 0
        margin-top: 4px

    @media (max-width: 360px)
        &
            padding: 0
            
        &__item::before
            display: none
