include ../education/education.pug

mixin info-education(title, educations)
    mixin edu(data)
        .info-education
            each edu in data
                .info-education__education
                    +education(edu)
    - 
        var content = 'edu';
        var icon = 'education.png';
        var alt = 'my education';
    +info({
        img: icon, 
        alt: alt, 
        title: title, 
        contentFunc: content, 
        data: educations
    })