mixin avatar({img = '', alt=''})
    .avatar
        .avatar__background
            if img
                - var pathImg = require(`./img/${img}`);
                img.avatar__img(src=pathImg, alt=alt)